body{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
      min-height: 100vh; 
}

label{
    font-size: 20px;
    color: antiquewhite;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
input{
    min-width: 330px;
    height:35px;
    border-radius: 14px;
    padding: 4px;
}
#input-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#name{
    width: 150px;
}
#url{
    width: 300px;
}
.my-button {
  background-color: #f5f5f5; /* Default background color */
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.1s ease, background-color 0.1s ease; /* Smooth transition for the effect */
}

.my-button:hover {
  background-color: #adadad; /* Color change on hover */
}

.my-button:active {
  background-color: #8b8b8b; /* Color change when pressed */
  transform: translateY(2px); /* Moves the button down slightly */
  box-shadow: inset 0px 0px 5px #000; /* Adds an "inset" shadow to simulate depth */
}